# Database connection details example. Should be placed inside 'bin' directory
DRIVER1_DBHOST=
DRIVER1_DBPORT=
DRIVER1_DBNAME=
DRIVER1_DBUSER=
DRIVER1_DBPASS=

DRIVER2_DBHOST=
DRIVER2_DBPORT=
DRIVER2_DBNAME=
DRIVER2_DBUSER=
DRIVER2_DBPASS=