# Database connection details example. File extension should be renamed to '.properties'
DRIVER1_DBHOST=
DRIVER1_PORT=
DRIVER1_DBNAME=
DRIVER1_USER=
DRIVER1_DBPASS=

DRIVER2_DBHOST=
DRIVER2_PORT=
DRIVER2_DBNAME=
DRIVER2_USER=
DRIVER2_DBPASS=